<div class ='new'>
    <div class="wrapper">
        <form>
          <h1>SignUp</h1>
          <div class="input-box">
            <input type="text" placeholder="Full Name" required>
            <i class='bx bxs-user'></i>
          </div>
          <div class="input-box">
            <input type="text" placeholder="Age" required>
            <i class='bx bxs-user'></i>
          </div>
          <div class="input-box">
            <input type="text" placeholder="Contact Number" required>
            <i class='bx bxs-lock-alt' ></i>
          </div>
          <select class = "input-box" id="role" name="role"style ="color: black;">
            <option value="" disabled selected style ="color: black;">Gender</option>
            <option value="patient" style ="color: black;">Male</option>
            <option value="doctor" style ="color: black;">Female</option>
            <option value="patient" style ="color: black;">Other</option>
          </select>
          <div class="input-box">
            <input type="text" placeholder="City" required>
            <i class='bx bxs-lock-alt' ></i>
          </div>
          <div class="input-box">
            <input type="text" placeholder="State" required>
            <i class='bx bxs-lock-alt' ></i>
          </div>
          <select class = "input-box" id="role" name="role"style ="color: black;">
            <option value="" disabled selected style ="color: black;">Choose Role</option>
            <option value="patient" style ="color: black;">Patient</option>
            <option value="doctor" style ="color: black;">Doctor</option>
          </select>
            
          <div class="input-box">
            <input type="email" placeholder="Email" required>
            <i class='bx bxs-lock-alt' ></i>
          </div>
          <div class="input-box">
            <input type="password" placeholder="Password" required>
            <i class='bx bxs-lock-alt' ></i>
          </div>
          <div class="input-box">
            <input type="password" placeholder="Confirm password" required>
            <i class='bx bxs-lock-alt' ></i>
          </div>
          <button type="submit" class="btn">Sign Up</button>
          <div class="register-link">
            <p>Have an account? <a href="#">Login</a></p>
          </div>
        </form>
      </div>
    </div> 